:root {
    --header: #ffffff;
    --headerColor: black;
  }

  body {
    background-image: url('../assets/images/images/mountains.png');

    margin:0px;
  }

  body,
  html, main {

    height: 100%;
    width: 100%;
  }

  #bottom_nav,
  #docs {
    position: absolute;
    display: flex;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;

    bottom: 8px;
    left: 0;
    right: 0;

    max-width: 90%;
  }

  #docs {
    z-index: 20;
    display: none;
  }

  .header {
    background-color: var(--header) !important;
    color: var(--headerColor) !important;
  }

  #calculator {
    width:100%;
    height:calc(100% - 74px);

    display: flex;
  }

  view-pager {
    width: 0px;
    height:0px;
  }

  iframe {
    border-width: 0px;

    height:100%;
    width:100%;

    margin:8px;
    margin-left:0px;
  }

  widgetbot {
    width:100%;
    height:100%;
  }

  .w100 {
    width:100%;
  }

  template-header {
    width:calc(100% - 8px);
  }

  .w100 * :not(header *, li) {
    width:100%
  }

  .w100 section {
    width:100%;
  }

  h1 {
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
  }

  .content {
    background-color:var(--secondairy);

    padding:8px;

    width:calc(100% - 16px) !important;
  }

  .transparent {
    color:TRANSPARENT;
  }

  .row {
    display:flex;
    flex-direction:row;
  }

  .column {
    display:flex;
    flex-direction:column;
  }

  .h100 {
    height:100%;
  }

  #draawer {
    margin-right:0px;
  }

  .marginLeft {
    margin-left:8px;
  }

  list-viewer {
    width:100%;

    padding:0px;
  }

  .actionButton {
    font-size:16px;

    border-radius:2000px !important;

    max-width:30px;

    margin-left:auto;
  }

  list-viewer li {
    width:calc(100% - 16px);
  }

  #search {
    position:absolute;
    top:10px;
    right:8px;

    height: 34px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;

    display: block;

    border-radius: 200px;
    background-color: var(--secondairy);

    line-height: 35px;

    padding: 8px;

    color: var(--secondairyTextColor);
  }

  