/* class for frames where images can be put in inside of accordions */
.exampleFrame {
  background-color: var(--secondairyContainer);

  padding:16px;

  width:calc( 100% - 32px) !important;

  overflow:auto;

  margin-bottom:8px;
  margin-top:8px;

  display:grid;
  gap:16px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.accordionItems:first-child .exampleFrame:first-child {
    margin-top:0px;
}

/* classes to indicate do's and donts */
.error {
    background-color:var(--error)
}

.correct {
    background-color:var(--check)
}

/* css file for classes users can use by default in mod docs */

.columnDirection {
    flex-direction: column;
    max-width:90%;

    background-color:transparent;
}

.columnDirection #displayFile {
    height:300px;
}